
@{
    ViewData["Title"] = "SearchSpotPageByDistrict";
}
@section css {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Dialog.css">
}
@section js {
    <script src="~/js/SearchSpotPageByDistrict.js"></script>
}

<body>
  <div>
    <h2 align="center"><font size="30" color=#AA0000 face="DFKai-sb"><a href="file:///C:/Apache24/htdocs/%E8%BB%9F%E5%B7%A5/first.html">室外桃園</a></font></h1>
  </div>

  <div align="right">
      <button class="btnAdd btn btn-info btn-lg" id="create_spot_btn">新增景點</button>
           <br><br>
  </div>
  <div align="right">
    <button class="btn btnnew btn-lg" type="button" onclick="">行程規劃</button>
  </div>
           <!--表單-->
        <div class="addplaceform" id="addplaceform" style="display: none">
            <div class="addplaceclose">
                <i class="far fa-times-circle fa-2x" onclick="addplaceclose()"></i>
            </div>
             <!--<img src="新增景點.jpg" width="15px"; height="15px">-->
            <div class="place">
              景點名稱 :<br>
              <input id="placeinput" class="placeinput  form-control" type="text" maxlength="20" >
            </div>
              <div class="number">
                郵遞區號 :<br>
                <input id="numberinput" class="numberinput  form-control" type="text" maxlength="3" >
              </div>
              <div class="address">
              地址:<br>
              <input id="addressinput" class="addressinput form-control" type="text" maxlength="30">
            </div>
              <div class="time">
              <label for="time">營業時間:</label><br>
              <textarea id="timearea" rows="2" cols="10" maxlength="300"></textarea>
            </div>
            <div class="description">
              <label for="des">描述:</label><br>
              <textarea id="descriptionarea" rows="3" cols="26" maxlength="1000"></textarea>
            </div>
            <div class="choosephoto">
              上傳照片:
            <input accept="image/*" id="uploadImage" type="file">
            </div>
            <div class="submit">
              <button id=submit_info>確認送出</button>
            </div>
        </div>
    <h2 align="center" id = "title"><font size="5"></font></h1>

    <marquee scrollamount="10"><img src="~/Img/SearchSpotPageByDistrict/中央.jpg"><img src="~/Img/SearchSpotPageByDistrict/大溪.jpg"><img src="~/Img/SearchSpotPageByDistrict/小人國.jpg"><img src="~/Img/SearchSpotPageByDistrict/小烏來.jpg"><img src="~/Img/SearchSpotPageByDistrict/石門.jpg"><img src="~/Img/SearchSpotPageByDistrict/中壢夜市.jpg"><img src="~/Img/SearchSpotPageByDistrict/可樂.jpg"><img src="~/Img/SearchSpotPageByDistrict/拉拉山.jpg"><img src="~/SearchSpotPageByDistrict/高鐵.jpg"></marquee>
    <br></br>
    <br></br>
    <div position: absolute;>
        <table border="1" id = "SpotListTable">
            <tr>
                <th align='center' valign="middle" width="200px"><font size="5" face="DFKai-sb">Id</th>
                <th align='center' valign="middle" width="400px"><font size="5" face="DFKai-sb">名稱</th>
                <th align='center' valign="middle" width="800px"><font size="5" face="DFKai-sb">地址</th>
                <th align='center' valign="middle" width="1200px"><font size="5" face="DFKai-sb">介紹</th>
                <th align='center' valign="middle" width="100px"><font size="5" face="DFKai-sb">加入行程</th>
                <th align='center' valign="middle" width="100px"><font size="5" face="DFKai-sb">查看詳細資料</th>
            </tr>
        </table>
    </div>
</body>
