
@{
    ViewData["Title"] = "SearchSpotPageByDistrict";
}
@section css {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/SearchSpotPageByDistrict.css">
}
@section js {
    <script src="~/js/SearchSpotPageByDistrict.js"></script>
}

<h1>SearchSpotPageByDistrict</h1>

<body>
  <div>
    <h2 align="center"><font size="30" color=#AA0000 face="DFKai-sb"><a href="file:///C:/Apache24/htdocs/%E8%BB%9F%E5%B7%A5/first.html">室外桃園</a></font></h1>
  </div>

  <div align="right">
    <button class="btn btnnew btn-lg" type="button" onclick="">新增景點</button>
  </div>
  <div align="right">
    <button class="btn btnnew btn-lg" type="button" onclick="">行程規劃</button>
  </div>
    <h2 align="center"><font size="5">中壢區</font></h1>

    <marquee scrollamount="10"><img src="~/Img/SearchSpotPageByDistrict/中央.jpg"><img src="~/Img/SearchSpotPageByDistrict/大溪.jpg"><img src="~/Img/SearchSpotPageByDistrict/小人國.jpg"><img src="~/Img/SearchSpotPageByDistrict/小烏來.jpg"><img src="~/Img/SearchSpotPageByDistrict/石門.jpg"><img src="~/Img/SearchSpotPageByDistrict/中壢夜市.jpg"><img src="~/Img/SearchSpotPageByDistrict/可樂.jpg"><img src="~/Img/SearchSpotPageByDistrict/拉拉山.jpg"><img src="~/SearchSpotPageByDistrict/高鐵.jpg"></marquee>
    <br></br>
    <br></br>
    <div position: absolute;>
        <table border="1">
            <tr>
                <td align='center' valign="middle" width="200px"><font size="5" face="DFKai-sb">行政區</td>
                <td align='center' valign="middle" width="400px"><font size="5" face="DFKai-sb">地名</td>
                <td align='center' valign="middle" width="800px"><font size="5" face="DFKai-sb">地址</td>
                <td align='center' valign="middle" width="1200px"><font size="5" face="DFKai-sb">介紹</td>
                <td align='center' valign="middle" width="100px"><font size="5" face="DFKai-sb">加入行程</td>
            </tr>
        </table>
    </div>
</body>