@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
}
@section js {
    <script src="~/js/index.js"></script>
}
  <body>

<!--搜尋景點-->
<div class="container">
<div class="row justify-content-center">
  <div class="col-1">
  <br>  </div>
    <div class="col-8">
    <br>
      <input class="SerForm form-control" type="text" placeholder="輸入景點..." aria-label="Search">
        </div>
        <div class="col-3">
          <br>
        <button type="button" class="btnSer btn btn-secondary btn-ln">
          搜尋
      </div></div>
      </div>


<!--桃園地圖-->

    <br><br>
<div class="container">
  <div class="row justify-content-center">
     <div class="col-9">
    <div class="PlacePic">
    <IMG SRC="~/Img/Index/桃園.png" WIDTH=450px HEIGHT=534px usemap="#imagemap">
<map name="imagemap">
  <!--新屋區--><area shape="rect" coords="53,139,104,159" href="https://reurl.cc/main/tw">
  <!--觀音區--><area shape="rect" coords="95,80,148,98" href="https://reurl.cc/main/tw">
  <!--大園區--><area shape="rect" coords="177,49,228,68" href="https://reurl.cc/main/tw">
  <!--蘆竹區--><area shape="rect" coords="259,50,307,67" href="https://reurl.cc/main/tw">
  <!--龜山區--><area shape="rect" coords="317,94,365,109" href="https://reurl.cc/main/tw">
  <!--桃園區--><area shape="rect" coords="270,107,304,142" href="https://reurl.cc/main/tw">
  <!--中壢區--><area shape="rect" coords="184,131,231,150" href="https://reurl.cc/main/tw">
  <!--楊梅區--><area shape="rect" coords="117,197,165,214" href="https://reurl.cc/main/tw">
  <!--八德區--><area shape="rect" coords="264,162,311,172" href="https://reurl.cc/main/tw">
  <!--平鎮區--><area shape="rect" coords="189,203,238,222" href="https://reurl.cc/main/tw">
  <!--大溪區--><area shape="rect" coords="259,241,309,257" href="https://reurl.cc/main/tw">
  <!--龍潭區--><area shape="rect" coords="181,265,229,283" href="https://reurl.cc/main/tw">
　<!--復興區--><area shape="rect" coords="333,368,381,386" href="https://reurl.cc/main/tw">
</map>

    </div>
    </div>

<!--新增景點及行程規劃-->


</body>


