

body {
    background-color:#ACD6FF;
}
.webName{

  -webkit-text-fill-color: #84C1FF;
  padding:5px;
  border:1px #84C1FF solid;"


}
.btnLogin, .btnReg{
  border-color:#84C1FF;
  color:#84C1FF;
}

.btnnew{
  border-color:#000000;
  color:#009FCC;
}


.SearForm{
  border-radius: 45px;
  width:40%;
  position: fixed;

}

.PlacePic{
  display:  flex;
    align-items: center;
    justify-content:  center;
    float:center;
}

.btnAdd, .btnPlan{
    float:right;
}
.addplaceform {
    font-family: 微軟正黑體;
    position: fixed;
    background-color: white;
    top: 20%;
    left: 30%;
    width: 350px;
    height: 450px;
    z-index: 999;
    border-width: 50px;
}
.addplaceclose {
    cursor: pointer;
    float: right;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}
.placeinput {
    width: 150px;
    height: 20px;
    border: 2px black solid;
}
.placeinput::-webkit-input-placeholder {
    font-size: 26px;
}
.place {
    position: relative;
    margin-top: 80px;
}
.address {
    position: relative;
    margin-top: 20px;
}
.addressinput {
    width: 150px;
    height: 20px;
    border: 2px black solid;
}
.description {
    position: relative;
    margin-top: 20px;
    text-align: left;
    margin-left: 60px;
}
.description label{
  text-align: left;
}
.descriptionarea {
    position: relative;
}
.submit {
    position: relative;
    margin-top: 20px;
}
.submit button {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 26px;
    width: 200px;
    height: 45px;
}
