
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>行程規劃</title>
<!--商品列表樣式表-->
<link rel="stylesheet" type="text/css" href="../css/index.css" rel="external nofollow" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="plan.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="jquery.js"></script>
<script src="plan.js"></script>
<!--cookie操作的js庫-->
<!--<script src="../js/cookie.js" type="text/javascript" charset="utf-8"></script>-->

</head>
<body>
<div class="container">
<h1 align="center">行程規劃</h1>
<div style="float:left" class="mycar">
<a href="cart.html" rel="external nofollow" >口袋名單數量</a><i id="ccount">0</i>
</div>
<div style="float:right" >
<form align="right" name="frm" method="post" action="vvc.html">
    <input type="button" onclick="check();" value="規劃完成" />
</form>
</div><br>

<div  align="center" class="list">
<table width="100%" border="1" id="main">
　<tr>
　<td width="20%">景點名稱</td>
　<td width="30%">地址</td>
  <td width="30%">介紹</td>
  <td width="20%">時間</td>
　</tr>
</table>

<button onclick="newadd()">新增</button><button onclick="delete1()">刪除</button>

</div>
</div>
<!--
描述：資料訪問層，操作本地資料的模組
-->
<script type="text/javascript" src="../js/server.js"></script>
<!--
描述：本頁面的js操作
-->
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
